body {
  background-color: aliceblue;
}
.App {
  padding-top: 1rem;
  height: 100%;
}

.forms {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.custome-input {
  border: none;
  border-radius: 0;
  width: 25vw;
  background-color: transparent;
  border-bottom: 1px solid rgba(0, 0, 0, 0.562);
}
.read-data {
  margin: 1rem;
}
.cutoms-list {
  margin-top: 2rem;
}
.sub-title {
  font-size: 20px;
  font-weight: 500;
}
.sub-title span {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.562);
}
.title {
  font-size: 30px;
  margin: 1rem;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.562);
}
.edite {
  margin-right: 1rem;
}
